<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">
    <% if user_signed_in? && current_id?(user.id) %>
      マイページ
    <% else %>
      <%= user.name %> さんのページ
    <% end %>
  </h2>
  <% if admin_signed_in? %>
    <div class="ml-auto p-2">
      <span id="user<%= user.id %>_active_switch">
        <%= render "admin/users/is_active", user: user %>
      </span>
      <%= link_to "編集", edit_admin_user_path(user.id), class: "btn btn-sm btn-info m-1" %>
      <%= link_to "削除", admin_user_path(user.id), method: :delete, class: "btn btn-sm btn-danger m-1", data: { confirm: "本当に削除しますか？" } %>
    </div>
  <% elsif user_signed_in? && current_id?(user.id) %>
    <div class="ml-auto p-2 m-1">
      <%= link_to "編集", edit_users_path, class:"btn btn-sm btn-info m-1" %>
      <%= link_to "退会", unsubcribe_users_path, class: "btn btn-sm btn-danger m-1" %>
    </div>
  <% end %>
</div>

<div class="row no-gutters py-4">
  <%= render "layouts/users/info", user: user %>

  <div class="col-md-8 pl-4">
    <% if user_signed_in? && current_id?(user.id) %>
      <div id="calendar" data-user-id="<%= user.id %>" class="my-4"></div>
    <% end %>

    <div class="d-flex align-items-center mt-4">
      <h3 class="heading col-8 p-0">主催イベント（直近 <%= @user_show_events_per %> 件）</h3>
      <% if user_signed_in? && current_id?(user.id) %>
        <div class="ml-auto p-2"><%= link_to "新規作成", new_event_path, class: "btn btn-sm btn-primary m-1" %></div>
      <% end %>
    </div>
    <%= render "layouts/users/event_list", events: since_events %>

    <h3 class="heading col-8 p-0 mt-5">
      参加イベント（直近 <%= @user_show_events_per %> 件）
      
    </h3>
    <%= render "layouts/users/event_list", events: since_participated_events %>

    <details class="mt-3">
      <summary>過去イベント</summary>
      <div class="pl-2">
        <h6 class="col-8 heading p-0">主催イベント（直近 <%= @user_show_events_per %> 件）</h4>
        <%= render "layouts/users/event_list", events: ago_events %>
        <h6 class="col-8 heading p-0">参加イベント（直近 <%= @user_show_events_per %> 件）</h4>
        <%= render "layouts/users/event_list", events: ago_participated_events %>
      </div>
    </details>
  </div>
</div>