<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">検索結果（全 <%= searches.count %> 件）</h2>
</div>

<% if table == User.name %>
  <%= render "layouts/users/list", users: searches %>
<% elsif table == Event.name %>
  <%= render "layouts/events/list", events: searches %>
<% elsif table == Comment.name %>
  <%= render "admin/comments/list", comments: searches %>
<% elsif table == Group.name %>
  <%= render "layouts/groups/list", groups: searches %>
<% end %>