<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">新規登録</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>各項目を入力してください。</p>
        </div>
        <% if @user.errors.any? %>
          <ul class="alert alert-danger text-left" role="alert">
            <h6 class="alert-heading">
              入力情報に誤りがあります
            </h6>
          </ul>
        <% end %>
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <div class="input-group">
            <div class="input-group-prepend col-2 p-0">
              <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-user mx-auto"></i></span>
            </div>
            <% unless @user.errors[:name].any? %>
              <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: "form-control" %>
            <% else %>
              <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: "form-control is-invalid" %>
            <% end %>
          </div>
          <%= render "layouts/error_message", object: f.object, attribute: :name %>

          <div class="input-group mt-3">
            <div class="input-group-prepend col-2 p-0">
              <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-envelope mx-auto"></i></span>
            </div>
            <% unless @user.errors[:password].any? %>
              <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
            <% else %>
              <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control is-invalid" %>
            <% end %>
          </div>
          <%= render "layouts/error_message", object: f.object, attribute: :email %>

          <div class="input-group mt-3">
            <div class="input-group-prepend col-2 p-0">
              <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-lock mx-auto"></i></span>
            </div>
            <% unless @user.errors[:password].any? %>
              <%= f.password_field :password, placeholder: "パスワード(#{@minimum_password_length}文字以上)", class: "form-control" %>
            <% else %>
              <%= f.password_field :password, placeholder: "パスワード(#{@minimum_password_length}文字以上)", class: "form-control is-invalid" %>
            <% end %>
          </div>
          <%= render "layouts/error_message", object: f.object, attribute: :password %>

          <div class="input-group mt-3">
            <div class="input-group-prepend col-2 p-0">
              <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-circle-check mx-auto"></i></span>
            </div>
            <% unless @user.errors[:password_confirmation].any? %>
              <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control" %>
            <% else %>
              <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control is-invalid" %>
            <% end %>
          </div>
          <%= render "layouts/error_message", object: f.object, attribute: :password_confirmation %>

          <%= f.submit "新規登録", class: "btn btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
