<div class="form-body p-4">
  <div class="mx-auto text-center">
    <p>各項目を入力してください</p>
  </div>

  <% if event.errors.any? %>
    <ul class="alert alert-danger text-left" role="alert">
      <h6 class="alert-heading">
        入力情報に誤りがあります
      </h6>
    </ul>
  <% end %>

  <%= form_with model: event, url: url_path, local: true do |f| %>

    <div class="input-group">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-image mx-auto"></i></span>
      </div>
      <%= f.file_field :event_image, class: "form-control p-1 align-items-center", errors: event.errors[:event_image].any?, accept: "image/*" %>
    </div>
    <% if event.errors[:event_image].any? %>
      <%= render "layouts/error_message", object: f.object, attribute: :event_image %>
    <% else %>
      <div class="small text-secondary text-right">※画像はjpg, jpegいずれかの形式にして下さい</div>
    <% end %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-dice-five mx-auto"></i></span>
      </div>
      <%= f.text_field :name, autofocus: true, class: "form-control", errors: event.errors[:name].any?, placeholder: "イベント名" %>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :name %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
      <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-circle-info mx-auto"></i></span>
      </div>
      <%= f.text_area :introduction, class: "form-control", errors: event.errors[:introduction].any?, placeholder: "説明", size: "40x5" %>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :introduction %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-calendar mx-auto"></i></span>
      </div>
        <%= f.date_field :date, class: "form-control", errors: (event.errors[:date].any? || event.errors[:check_since_date].any?) %>
        <%= f.time_field :start_time, step: 1800, class: "form-control", errors: (event.errors[:start_time].any? || event.errors[:check_time].any?) %>
        <span class="d-flex align-items-center">&nbsp;～&nbsp;</span>
        <%= f.time_field :end_time, step: 1800, class: "form-control", errors: (event.errors[:end_time].any? || event.errors[:check_time].any?) %>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :date %>
    <%= render "layouts/error_message", object: f.object, attribute: :start_time %>
    <%= render "layouts/error_message", object: f.object, attribute: :end_time %>
    <%= render "layouts/error_message", object: f.object, attribute: :check_since_date %>
    <%= render "layouts/error_message", object: f.object, attribute: :check_time %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-location-dot mx-auto"></i></span>
      </div>
      <%= f.text_field :venue, autofocus: true, class: "form-control", errors: event.errors[:venue].any?, placeholder: "開催場所" %>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :venue %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-user-minus mx-auto"></i></span>
      </div>
      <%= f.select :min_people, *[2..20], {prompt: "最低人数"}, {class: "form-control", errors: (event.errors[:min_people].any? || event.errors[:check_people].any?)} %>
      <div class="input-group-append">
        <span class="input-group-text">人</span>
      </div>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :min_people %>
    <%= render "layouts/error_message", object: f.object, attribute: :check_people %>

    <div class="input-group mt-3">
      <div class="input-group-prepend col-2 p-0">
        <span class="input-group-text w-100" aria-hidden="true"><i class="fas fa-lg fa-user-plus mx-auto"></i></span>
      </div>
      <%= f.select :max_people, *[2..20], {prompt: "最大人数"}, {class: "form-control", errors: (event.errors[:max_people].any? || event.errors[:check_people].any?)} %>
      <div class="input-group-append">
        <span class="input-group-text">人</span>
      </div>
    </div>
    <%= render "layouts/error_message", object: f.object, attribute: :max_people %>
    <%= render "layouts/error_message", object: f.object, attribute: :check_people %>

    <% if admin_signed_in? %>
      <div class="input-group mb-t d-flex justify-content-around">
        <div>
          <%= f.radio_button :is_active, :true, checked: event.is_active %>
          <%= f.label :is_active, "有効", value: :true, class: "mr-3" %>
        </div>
        <div>
          <%= f.radio_button :is_active, :false, checked: !event.is_active %>
          <%= f.label :is_active, "無効", value: :false %>
        </div>
      </div>
    <% end %>

    <%= f.submit "決定", class:"btn btn-block btn-success mt-3" %>
  <% end %>