<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">イベント詳細</h2>
  <% if admin_signed_in? %>
    <div class="ml-auto p-2">
      <span id="event<%= event.id %>_active_switch" %>
        <%= render "admin/events/is_active", event: event %>
      </span>
      <% if event.since_event? %>
        <%= link_to "編集", edit_admin_event_path(event.id), class: "btn btn-sm btn-info m-1" %>
      <% end %>
      <%= link_to "削除", admin_event_path(event.id), method: :delete, class: "btn btn-sm btn-danger m-1", data: { confirm: '本当に削除しますか？' } %>
    </div>
  <% elsif current_id?(event.user_id) %>
    <div class="ml-auto p-2">
      <% if event.since_event? %>
        <%= link_to "編集", edit_event_path(event.id), class: "btn btn-sm btn-info m-1" %>
      <% end %>
      <%= link_to "削除", event_path(event.id), method: :delete, class: "btn btn-sm btn-danger m-1", data: { confirm: '本当に削除しますか？' } %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <div class="card shadow-lg col-md-8 rounde p-3">
    <%if user_signed_in? %>
      <div id="event<%= event.id %>_favorite" class="left-top display-4">
        <%= render "layouts/events/favorite", event: event %>
      </div>
    <% end %>

    <div class="bg-light">
      <%= image_tag event.get_event_image, class: "card-img-top cover-image" %>
    </div>

    <table class="table px-3">
      <thead>
        <tr class="bg-light">
          <th colspan="2"><div class="h2 p-2 text-center"><%= event.name %></div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><i class="fas fa-lg fa-calendar mx-auto"></i></td>
          <td><%= event.date.strftime("%m月%d日") %> <%= event.start_time.strftime("%H:%M") %> 開始 ～ <%= event.end_time.strftime("%H:%M") %> 終了予定</td>
        </tr>
        <tr> 
          <td class="text-center"><i class="fas fa-lg fa-location-dot mx-auto"></i></td>
          <td>
            <%= event.venue %>
            <details>
              <summary>Google Map</summary>
              <div id="map" data-venue="<%= event.venue %>"></div>
            </detalis>
          </td>
        </tr>
        <tr>
          <td class="text-center"><i class="fas fa-lg fa-circle-user mx-auto"></i></td>
          <td>
            <div>
              <span><%= event.participants.count %> / <%= event.max_people %> 人（最低 <%= event.min_people %> 人）<span>
              <% if user_signed_in? %>
                <%= render "layouts/events/participant", event: event %>
              <% end %>
            </div>
            <div>
              <% event.participated_users.each do |user| %>
                <% if admin_signed_in? %>
                  <%= link_to admin_user_path(user.id) do %>
                    <%= render "layouts/events/participant_icon", user: user %>
                  <% end %>
                <% elsif user_signed_in? %>
                  <%= link_to user_path(user.id) do %>
                    <%= render "layouts/events/participant_icon", user:user %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center"><i class="fas fa-lg fa-circle-info mx-auto"></i></td>
          <td><%= simple_format(event.introduction, sanitize: true) %></td>
        </tr>
        <tr>
          <td class="text-center"><i class="fas fa-lg fa-lightbulb mx-auto"></i></td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to admin_user_path(event.user.id), class: "d-flex align-items-center" do %>
                <%= render "layouts/events/owner_user", user: event.user %>
              <% end %>
            <% elsif user_signed_in? %>
              <%= link_to user_path(event.user.id), class: "d-flex align-items-center" do %>
                <%= render "layouts/events/owner_user", user: event.user %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>


  <h4 class="mt-3">コメント（<%= comments.count %>）</h4>
  <% if user_signed_in? %>
    <%= form_with model: [event, comment], local: true, class: "px-1" do |f| %>
      <div class="input-group ">
        <%= f.text_field :content, class: "form-control", errors: comment.errors[:content].any?, placeholder: "※コメントは100文字以内" %>
        <div class="input-group-append" aria-hidden="true">
          <%= button_tag type: "submit", class: "btn btn-success" do %>
            <i class="fas fa-lg fa-pen"></i>
          <% end %>
        </div>
      </div>
      <%= render "layouts/error_message", object: f.object, attribute: :content %>
    <% end %>
  <% end %>

  <% if comments.present? %>
    <table class="table px-3 mt-3">
      <tbody>
        <% comments.each do |comment| %>
          <tr>
            <td class="col-1">
              <% if admin_signed_in? %>
                <%= link_to admin_user_path(comment.user.id) do %>
                  <%= render "layouts/events/participant_icon", user: comment.user %>
                <% end %>
              <% elsif user_signed_in? %>
                <%= link_to user_path(comment.user.id) do %>
                  <%= render "layouts/events/participant_icon", user: comment.user %>
                <% end %>
              <% end %>
            </td>
            <td class="col-9">
              <div class="small text-secondary"><%= comment.created_at.strftime("%Y/%m/%d %H:%m") %></div>
              <% if admin_signed_in? %>
                <div class="change-color" data-score="<%= comment.score %>">
                  <%= comment.content %>
                </div>
              <% elsif user_signed_in? %>
                <div><%= comment.content %></div>
              <% end %>
            </td>
            <td class="col-2">
              <% if admin_signed_in? %>
                <span id="comment<%= comment.id %>_active_switch">
                  <%= render "admin/comments/is_active", comment: comment %>
                </span>
                <%= link_to "削除", admin_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm m-1 btn-danger" %>
              <% elsif user_signed_in? && current_id?(comment.user_id) %>
                <%= link_to "削除", event_comment_path(event, comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  </div>
</div>

