<div class="card shadow-lg rounde">
  <% if admin_signed_in? %>
    <object id="event<%= event.id %>_active_switch" class="text-center left-top">
      <%= render "admin/events/is_active", event: event %>
    </object>
  <% elsif user_signed_in? && !current_id?(event.user_id) %>
    <object id="event<%= event.id %>_favorite" class="left-top h5">
      <%= render "layouts/events/favorite", event: event %>
    </object>
  <% end %>
  <div class="bg-light">
    <%= image_tag event.get_event_image, size: "160x90", class: "card-img-top cover-image" %>
  </div>
  <div class="p-2 text-center d-flex align-items-center justify-content-center height-90 bg-light"><%= event.name %></div>
  <table class="mx-2">
    <thead>
      <tr>
        <th class="col-1"></th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><i class="fas fa-calendar mx-auto" aria-hidden="true"></i></td>
        <td class="text-right"><%= event.date.strftime("%m月%d日") %> <%= event.start_time.strftime("%H:%M") %></td>
      </tr>
      <tr>
        <td class="text-center"><i class="fas fa-circle-user mx-auto" aria-hidden="true"></i></td>
        <td class="text-right"><%= event.participants.count %> / <%= event.max_people %> 人</td>
      </tr>
        <tr>
          <td class="text-center"><i class="fas fa-comment mx-auto" aria-hidden="true"></i></td>
          <%if admin_signed_in? %>
            <td class="text-right"><%= event.comments.count %>件</td>
          <% elsif user_signed_in? %>
            <td class="text-right"><%= event.comments.where(is_active: true).count %>件</td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>