<div class="card shadow-lg rounde">
  <div class="bg-light p-2">
    <%= image_tag event.get_image, size: "160x90", class: "card-img-top cover-image" %>
  </div>
  <div class="p-2 text-center"><%= event.name %></div>
  <table class="mx-2">
    <thead>
      <tr>
        <th class="col-1"></th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><i class="fas fa-calendar mx-auto"></i></td>
        <td><%= event.date.strftime("%m/%d %H:%M") %></td>
      </tr>
      <tr>
        <td class="text-center"><i class="fas fa-circle-user mx-auto"></i></td>
        <td><%= event.participants.count %> / <%= event.max_people %></td>
      </tr>
    </tbody>
  </table>
  <% if admin_signed_in? %>
    <%= render "admin/events/is_active", event: event %>
  <% end %>
</div>