<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">
    <%= group.name %>
  </h2>
  <div class="ml-auto p-2 m-1">
    <% if admin_signed_in? %>
      <span id="group<%= group.id %>_active_switch">
        <%= render "admin/groups/is_active", group: group %>
      </span>
      <%= link_to "編集", edit_admin_group_path(group.id), class: "btn btn-sm btn-info m-1" %>
      <%= link_to "削除", admin_group_path(group.id), method: :delete, class: "btn btn-sm btn-danger m-1", data: { confirm: "本当に削除しますか？" } %>
    <% elsif user_signed_in? && current_id?(group.user_id) %>
      <%= link_to "編集", edit_group_path, class:"btn btn-sm btn-info m-1" %>
      <%= link_to "削除", group_path(group.id), method: :delete, class: "btn btn-sm btn-danger m-1", data: { confirm: "本当に削除しますか？" } %>
    <% else %>
      <%= render "layouts/groups/be_member", group: group %>
    <% end %>
  </div>
</div>

<div class="my-5 col"><%= group.introduction %></div>

<div class="col d-flex justify-content-center">
  <table class="table px-3">
    <thead>
      <tr>
        <th>
          <% if admin_signed_in? %>
            <%= link_to admin_user_path(group.user.id) do %>
              <%= render "layouts/groups/leader", user: group.user %>（リーダー）
            <% end %>
          <% elsif user_signed_in? %>
            <%= link_to user_path(group.user.id) do %>
              <%= render "layouts/groups/leader", user: group.user %>（リーダー）
            <% end %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% if group.users.present? %>
        <% group.users.each do |user| %>
          <tr>
            <td>
              <% if admin_signed_in? %>
                <%= link_to admin_user_path(group.user.id) do %>
                  <%= render "layouts/groups/member", user: user %>
                <% end %>
              <% elsif user_signed_in? %>
                <%= link_to user_path(group.user.id) do %>
                  <%= render "layouts/groups/member", user: user %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        メンバーはいません
      <% end %>
    </tbody>
  </table>
</div>